<link rel="stylesheet" href="view/list-container/list-container.css">
<div class="watched-list">
    <div class="country-container"></div>
    <div class="list-container">
        <table class="list-table">
            <thead>
                <tr>
                    <th id="id">Nº</th>
                    <th id="name">Nome</th>
                    <th id="episodes">Nº Episódios</th>
                    <th id="rate">Rate</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script src="js/table.js"></script>